/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,400i,700,700i,900,900i|Rubik:300,300i,400,400i,500,500i,700,700i,900,900i');

/*Base css*/

a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

a:link,
a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display SC', serif;
    color: #313131;
    font-weight: 700;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    line-height: 1.9;
    background-color: #f8fcfe;
}

.section-padding {
    padding: 80px 0;
}


/* Theme Coding */

.header-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9;
    padding: 20px 0;
}

.logo h1 {
    margin: 0;
}

.mainmenu {
    margin-top: 7px;
}

.mainmenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mainmenu li {
    display: inline-block;
}

.mainmenu li a {
    display: block;
    padding: 5px;
    margin-left: 10px;
    color: #fff;
}

.mainmenu li.btn {
    background-color: #0cb5a6;
    position: relative;
    padding-left: 27px;
}

.mainmenu li.btn:before {
    font-family: fontawesome;
    position: absolute;
    left: 12px;
    top: 11px;
    color: #fff;
}

.hero-area {
    background: url(../img/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    background-color: #10b6a7;
    position: relative;
    z-index: 1;
    color: #fff;
    padding-top: 250px;
    padding-bottom: 175px;
    font-size: 18px;
    font-weight: 300;
}

.hero-area:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: .9;
    z-index: -1;
    background: #10b6a8;
    background: -moz-linear-gradient(left, #10b6a8 0%, #0c742b 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #10b6a8), color-stop(100%, #0c742b));
    background: -webkit-linear-gradient(left, #10b6a8 0%, #0c742b 100%);
    background: -o-linear-gradient(left, #10b6a8 0%, #0c742b 100%);
    background: -ms-linear-gradient(left, #10b6a8 0%, #0c742b 100%);
    background: linear-gradient(to right, #10b6a8 0%, #0c742b 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#10b6a8', endColorstr='#0c742b', GradientType=1);
}

.hero-area h2 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #fff;
}

.video-btn {
    display: inline-block;
    color: #fff;
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
}

.video-btn i.fa {
    display: block;
    height: 100px;
    width: 100px;
    color: #333;
    background: #fff;
    margin: 0 auto 14px;
    line-height: 100px;
    font-size: 26px;
    border-radius: 50%;
}

.section-padding {
    padding: 120px;
}

.bordered-box {
    border: 1px solid #eff4f6;
    position: relative;
    background: #fff;
    padding: 30px;
}

.bordered-box:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 10px;
    width: 100%;
    background: #10b6a7;
    border-radius: 20px;
}

.bordered-box h3 {
    font-size: 26px;
    margin-bottom: 40px;
    margin-top: 20px;
}

.single-service-box {
    background: #f8fdff;
    padding: 30px 13px;
    margin-bottom: 30px;
    text-align: center;
}

.single-service-box h4 {
    font-size: 18px;
    margin-bottom: 15px;
}

.service-icon {
    height: 100px;
    width: 100px;
    background: #fff;
    margin: 0 auto 25px;
    border-radius: 50%;
    box-shadow: 2px 2px 13px #e2f6f5;
    font-size: 30px;
}

.service-icon-wrap {
    vertical-align: middle;
}

.service-icon-wrap img {
    height: 30px;
    width: 30px;
}

.inline-btn {
    color: #12b5a6;
}

.inline-btn i.fa {
    padding-left: 5px;
}

.col-lg-6:nth-child(2) .single-service-box {
    background: #fafafe;
}

.col-lg-6:nth-child(3) .single-service-box {
    background: #fafffc;
}

.col-lg-6:nth-child(4) .single-service-box {
    background: #fffaff;
}

.bordered-box ul {
    padding: 0;
    margin: 0 0 20px;
    list-style: none;
}

.bordered-box li {
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left: -30px;
    margin-right: -30px;
    padding-left: 30px;
    padding-right: 30px;
    border-top: 1px solid #ecf9ff;
}

.bordered-box li a {
    color: #313131;
}

.bordered-box li span {
    font-size: 100%;
}

.bordered-box li a:hover {
    color: #12b5a6;
    text-decoration: none;
}